<% if @blog.errors.any? %>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
      <% end %>
    </ul>

<% end %>

<%= form_for @blog do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <%= f.submit class: "btn-primary"%>
<% end %>

<%= link_to 'Back to the list of blogs', blogs_path%>