<div>
  <div class="col-md-8"><h1>Blog #<%= @blog.id %> - <%= @blog.name %></h1></div>
  <div class="col-md-4" align="right"><%= link_to 'Create new article', new_blog_article_path(@blog) %></div>
</div>


<% if @blog.articles.empty? %>
    <h3>No articles for this blog</h3>

<% else %>
    <div>
      <table class="table table-hover">
        <tr>
          <th class="col-md-2">#</th>
          <th class="col-md-3">Title</th>
          <th class="col-md-4">Text</th>
          <th class="col-md-3">Actions</th>
        </tr>
        <% @blog.articles.each do |article| %>
            <tr>
              <td> <%= @blog.articles.index(article) + 1 %> </td>
              <td> <%= link_to article.title, article_path(article) %> </td>
              <td> <%= article.text %> </td>
              <td> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Remove', article_path(article),
                                                                                             method: :delete,
                                                                                             data: {confirm: 'Are you sure?'} %> </td>
            </tr>
        <% end %>
      </table>
    </div>

<% end %>

<%= link_to 'Back to the list of blogs', blogs_path %>